<div class="collapse navbar-collapse d-lg-none mobile-nav-collapse" id="main-nav-mobile">
    <ul class="navbar-nav w-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link-mobile">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link-mobile">
                All Products
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="foods-link-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Foods
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="foods-link-mobile">
                <a href="{% url 'products' %}?category=frozen" class="dropdown-item">Frozen</a>
                <a href="{% url 'products' %}?category=whole_foods" class="dropdown-item">Whole Foods</a>
                <a href="{% url 'products' %}?category=meat_poultry" class="dropdown-item">Meat & Poultry</a>
                <a href="{% url 'products' %}?category=all_foods" class="dropdown-item">All Foods</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="drinks-link-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="drinks-link-mobile">
                <a href="{% url 'products' %}?category=hot_beverages" class="dropdown-item">Hot Beverages</a>
                <a href="{% url 'products' %}?category=cold_drinks" class="dropdown-item">Cold Drinks</a>
                <a href="{% url 'products' %}?category=all_drinks" class="dropdown-item">All Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link-mobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link-mobile">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
            </div>
        </li>
    </ul>
</div>
